#about {
  background-color: white;
  color: black;
  padding: 2vh 0 2vh;
  


  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 2em;
  }

  p {
    font-weight: normal;
    font-size: 2em;
  }

  img {
    height: 50vh;
    width: 100%;
  }


}
